fastapi
uvicorn[standard]
opencv-python
numpy
python-multipart

ultralytics==8.3.97
easyocr==1.7.2
fastapi==0.115.12
uvicorn[standard]==0.34.0
python-multipart==0.0.20
opencv-python==4.11.0.86
Pillow==11.1.0
numpy==1.26.4
aiofiles==24.1.0
